<?xml version="1.0"?>
<ruleset name="PHP-Parallel-Lint">
    <description>PHP Parallel Lint coding standard.</description>

    <!--
    #############################################################################
    COMMAND LINE ARGUMENTS
    https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
    #############################################################################
    -->

    <!-- Scan all files. -->
    <file>.</file>

    <!-- Exclude dependencies, test fixtures. -->
    <exclude-pattern>*/tests/examples/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <!-- Only check PHP files. -->
    <arg name="extensions" value="php,phpt/php"/>

    <!-- Show progress, show the error codes for each message (source). -->
    <arg value="ps"/>

    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="./"/>

    <!-- Check up to 8 files simultaneously. -->
    <arg name="parallel" value="8"/>


    <!--
    #############################################################################
    USE THE PHPParallelLint RULESET
    #############################################################################
    -->

    <!-- Set the supported PHP versions for PHPCompatibility (included in PHPParallelLint). -->
    <config name="testVersion" value="5.3-"/>

    <rule ref="PHPParallelLint">
        <!-- For improved readability, a blank line should be allowed before the next leaf in a if/else control structure. -->
        <exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingBeforeClose"/>

        <!-- This package includes a polyfill for the JsonSerializable interface. -->
        <exclude name="PHPCompatibility.Interfaces.NewInterfaces.jsonserializableFound"/>
    </rule>

    <rule ref="Generic.PHP.NoSilencedErrors">
        <exclude-pattern>/bin/skip-linting\.php$</exclude-pattern>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="135"/>
            <property name="absoluteLineLimit" value="200"/>
        </properties>
    </rule>


    <!--
    #############################################################################
    SELECTIVE EXCLUSIONS
    Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
    #############################################################################
    -->

    <!-- Polyfill for PHP native interface, can't be in a namespace. -->
    <rule ref="PSR1.Classes.ClassDeclaration.MissingNamespace">
        <exclude-pattern>src/polyfill\.php$</exclude-pattern>
    </rule>


    <!--
    #############################################################################
    TEMPORARY EXCLUSIONS
    These adjustments should be removed once the codebase has been fixed up.
    #############################################################################
    -->

    <!-- To be addressed at a later point in time. -->
    <rule ref="Generic.Metrics.CyclomaticComplexity">
        <exclude-pattern>/src/(Application|ParallelLint|Settings|Outputs/TextOutput)\.php$</exclude-pattern>
    </rule>

    <!-- To be addressed in test refactor. -->
    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>/tests/Output\.phpt$</exclude-pattern>
    </rule>
    <rule ref="PSR1.Classes.ClassDeclaration.MissingNamespace">
        <exclude-pattern>/tests/*\.php[t]?$</exclude-pattern>
    </rule>
    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>/tests/*\.phpt$</exclude-pattern>
    </rule>
    <rule ref="PSR12.Files.FileHeader.SpacingAfterBlock">
        <exclude-pattern>/tests/skip-on-5.3/trait\.php$</exclude-pattern>
    </rule>
    <rule ref="PSR12.Files.OpenTag.NotAlone">
        <exclude-pattern>/tests/skip-on-5.3/trait\.php$</exclude-pattern>
    </rule>
    <rule ref="PHPCompatibility.Keywords.NewKeywords.t_traitFound">
        <exclude-pattern>/tests/skip-on-5.3/trait\.php$</exclude-pattern>
    </rule>

</ruleset>
