name: Build and test phar

on:
  push:
    tags:
      - 'v*'
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  bundle:
    name: Bundle binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: exif, phar, openssl
          coverage: none
          ini-values: phar.readonly=Off

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1
        with:
          composer-options: "--no-dev"

      - name: Install Box
        run: wget https://github.com/humbug/box/releases/latest/download/box.phar -O box.phar && chmod 0755 box.phar && pwd

      - name: Validate configuration
        run: php box.phar validate -i box.json

      - name: Building binary...
        run: php box.phar compile -v --config=box.json

      - name: Show info about the build phar with humbug/box
        run: php box.phar info -l parallel-lint.phar

      - uses: actions/upload-artifact@v2
        with:
          name: parallel-lint-phar
          path: ./parallel-lint.phar

  verify:
    name: Validate binary on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental == true }}
    needs:
      - bundle

    strategy:
      matrix:
        php:
          - '5.4'
          - '5.5'
          - '5.6'
          - '7.0'
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'

        include:
          - php: '8.2'
            experimental: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: parallel-lint-phar

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Run linter against codebase
        run: php ./parallel-lint.phar src/

  publish:
    name: Add binary to release
    runs-on: ubuntu-latest
    needs:
      - bundle
      - verify

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: parallel-lint-phar

      - name: Draft Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false

      - name: Upload Phar as Release Asset
        id: upload-release-asset
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: parallel-lint.phar
