name: Run unit and style tests

on:
  pull_request:
  push:
    branches:
      - develop
      - master
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  lint:
    name: Run style linter
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          coverage: none
          tools: cs2pr

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1

      - name: Run code sniffer
        continue-on-error: true
        run: vendor/bin/phpcs --report-full --report-checkstyle=./phpcs-report.xml

      - name: Show PHPCS results in PR
        run: cs2pr ./phpcs-report.xml

  bundle:
    name: Bundle binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 5.4
          extensions: exif, phar, openssl
          coverage: none
          ini-values: phar.readonly=Off

      - name: Install Box from GitHub
        run: |
          curl -LSs https://box-project.github.io/box2/installer.php | php
          test -f ./box.phar
          test -d ~/bin || mkdir ~/bin
          mv ./box.phar ~/bin/box
          ~/bin/box -V
          echo "$HOME/bin" >> $GITHUB_PATH

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1

      - name: Building binary...
        run: box build -v

      - uses: actions/upload-artifact@v2
        with:
          name: parallel-lint-phar
          path: ./parallel-lint.phar

  test:
    name: Run tests on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental == true }}
    needs:
      - bundle

    strategy:
      matrix:
        php:
          - '5.4'
          - '5.5'
          - '5.6'
          - '7.0'
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'

        include:
          - php: '8.1'
            experimental: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      # Remove PHPCS as it has a minimum PHP requirements of PHP 5.4 and would block install on PHP 5.3.
      - name: 'Composer: remove PHPCS'
        if: ${{ matrix.php < 5.4 }}
        run: composer remove --dev squizlabs/php_codesniffer --no-update

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1

      - name: 'Run unit tests PHP 5.4, 5.5'
        if: ${{ matrix.php < 5.6 }}
        run: composer testphp5

      - name: 'Run unit tests PHP >= 5.6'
        if: ${{ matrix.php >= 5.6 }}
        run: composer test

      - name: 'Integration test 1 - linting own code, no colors'
        run: ./parallel-lint --exclude vendor --exclude tests/examples --no-colors .

      - name: 'Integration test 2 - linting own code'
        run: ./parallel-lint --exclude vendor --exclude tests/examples .

      - uses: actions/download-artifact@v2
        with:
          name: parallel-lint-phar

      - name: Run linter against codebase using the phar
        run: php ./parallel-lint.phar --exclude vendor --exclude tests/examples .
